/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Selecor Universal -> ****/
* {
    margin: 0;
    padding: 0;
}

/* Selector de Etiqueta */
h1 {
    font-family: 'Bad Script', sans-serif;
}

/* Selector Por Id -> ### */
#word_one {
    font-size: 30px;
    color: purple;
    font-weight: 900;
    text-transform: uppercase;
    /* uppercase = transformar en mayuscula */
}

#list_options {
    border: 1px solid red;
    margin: 10px;
    border-radius: 10px;
}

/* Selector Por Clase -> ...*/
.word_group {
    background-color: gray;
    color: #fff;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin: 10px;
}

/* Selector Por Atributo -> [][][]*/
[disabled] {
    background-color: aqua;
}

/* Pseudo Clases */
.word_group:hover {
    background-color: yellow;
    padding: 5px;
    /* con esto cuando pasemos el mouse sobre la palabra se resaltara de otro color y se hundira o sobre saldra */
}

#title_box {
    color: blue;
    font-family: "roboto", sans-serif;
    background-color: aqua;
    /* margin-bottom: 10px */
    /* margin: 10px 0 10px 0; */
    margin: 10px 5px;
    text-align: right;
    text-transform: lowercase;
    word-spacing: 25px;
    letter-spacing: 10px;
    /* padding: 20px; */
    padding: 0 20px 0 0;
    border: 5px double black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px blue;
    -webkit-box-shadow: 16px 21px 172px 14px rgba(168, 2, 168, 0.72);
    -moz-box-shadow: 16px 21px 172px 14px rgba(168, 2, 168, 0.72);
    box-shadow: 16px 21px 172px 14px rgba(168, 2, 168, 0.72);
    font-size: 50px;
}

#box_father {
    background-color: black;
    width: 50%;
    height: 200px;
    padding: 5px;
    background-image: url(https://assets.nintendo.com/image/upload/ncom/en_US/games/switch/d/devil-may-cry-switch/hero);
    background-position: center;
}

/* aplicando media queris al sitio web */
@media (min-width: 800px) and (max-width: 1200px) {
    body {
        background-color: red;

    }

    h1 {
        text-align: right;
    }

    a {
        color: white;
        padding: 20px;
        font-size: 50px
    }
}

@media (max-width: 799px) {
    body {
        background-image: url(https://assets.nintendo.com/image/upload/ncom/en_US/games/switch/d/devil-may-cry-switch/hero);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}